<div class="book-list">
  <div class="book-list__title title">
    Book List
  </div>
  <div class="book-list__searchbar searchbar">
    <form class="searchbar__form search">
      <input class="search__input" type="text" placeholder="Filter by name, author or genre" #searchInput name="searchText"/>
      <button class="search__button button" type="button" (click)="filterResults(searchInput.value)">Search</button>
    </form>
  
    <select class="searchbar__select sort-select" (change)="onSortOptionChange($event)">
      <option value="author">Sort by Author (default)</option>
      <option value="title">Sort by Title</option>
      <option value="genre">Sort by Genre</option>
    </select>
  </div>

  <div *ngIf="filteredBooks.length === 0" class="book-list__no-results no-results">
    No results found
  </div>

  <div *ngIf="filteredBooks.length > 0" class="book-list__table table-wrapper">
    <table class="table">
      <thead>
        <tr class="table__row">
          <th class="table__header">Title</th>
          <th class="table__header">Author</th>
          <th class="table__header">Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of filteredBooks" class="table__data-row">
          <td class="table__cell"><span [innerHTML]="row.title | highlight: searchInput.value"></span></td>
          <td class="table__cell"><span [innerHTML]="row.author | highlight: searchInput.value"></span></td>
          <td class="table__cell"><span [innerHTML]="row.genre | highlight: searchInput.value"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>